<div class="container d-flex flex-wrap">
  <div
    class="card bg-dark m-3"
    style="width: 20%"
    *ngFor="let movie of moviesData; let id = index"
  >
    <img
      min-height="500 rem"
      [src]="'https://image.tmdb.org/t/p/w500' + movie.data.poster_path"
      class="card-img"
      alt="film"
    />
    <div class="card-body">
      <button
        [style.color]="movie.favId ? 'red' : ''"
        class="btn btn-primary fs-4"
        (click)="movie.favId ? removeFavorite(movie.favId, id) : addFavorite(movie.data.id, id)"
      >
      ❤
      </button>
    </div>
  </div>
</div>
